# Data & BigQuery
pandas>=2.0.0
numpy
polars
db-dtypes
pyarrow

# Dashboard & Viz
streamlit
plotly
seaborn
matplotlib

# Machine Learning
scikit-learn
joblib

# NLP & API (Si nécessaire)
transformers
torch
python-dotenv